.svg-banner_arrow-dims {
	width: 59px;
	height: 17px;
}

.svg-calc11-dims {
	width: 29px;
	height: 29px;
}

.svg-calc12-dims {
	width: 29px;
	height: 29px;
}

.svg-calc13-dims {
	width: 29px;
	height: 29px;
}

.svg-calc21-dims {
	width: 29px;
	height: 29px;
}

.svg-calc22-dims {
	width: 29px;
	height: 29px;
}

.svg-calc_check-dims {
	width: 10px;
	height: 10px;
}

.svg-carousel_arrow-dims {
	width: 30px;
	height: 24px;
}

.svg-carousel_arrow_sm-dims {
	width: 14px;
	height: 24px;
}

.svg-dorohov-dims {
	width: 81px;
	height: 26px;
}

.svg-facebook-dims {
	width: 35px;
	height: 35px;
}

.svg-instagram-dims {
	width: 35px;
	height: 35px;
}

.svg-logo-dims {
	width: 122px;
	height: 52px;
}

.svg-modal_close-dims {
	width: 25px;
	height: 25px;
}

.svg-rews_arrow-dims {
	width: 26px;
	height: 26px;
}

.svg-vk-dims {
	width: 40px;
	height: 40px;
}

