.banner {
    position: relative;
    overflow: hidden;
    &__inner {
        display: flex;
        min-height: 100vh;
        height: auto;
        position: relative;
        &::after {
            content: '';
            width: 700px;
            height: 100%;
            background: $dark-bg-color;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
        }
    }
    &__content {
        z-index: 2;
        position: relative;
        display: flex;
        flex-direction: column;
        padding-bottom: 50px;
    }
    &__title {
        font-weight: 800;
        font-size: 82px;
        line-height: 121.25%;
        color: #fff;
        text-transform: uppercase;
        padding-top: 25.4vh;
        margin-bottom: 55px;
    }
    &__address {
        font-size: 24px;
        color: #FFFFFF;
        margin-bottom: 70px;
    }
    &__btn {
        margin-bottom: 20px;
    }
    &__nav {
        margin-top: auto;
        display: flex;
        align-items: flex-end;
        &__left {
            color: #fff;
            margin-right: 200px;
            &__title {
                font-weight: 300;
                font-size: 14px;
                margin-bottom: 15px;
            }
            &__desc {
                font-weight: 500;
                font-size: 18px;
                line-height: 137.27%;
            }
        }
        &__right {
            button {
                background: transparent;
                padding: 0;
                border: none;
                padding: 0 15px;
                cursor: pointer;
                transition: .25s all ease;
                opacity: .35;
                position: relative;
                outline: none;
                &::after {
                    content: '';
                    width: 48px;
                    height: 48px;
                    border: 1px solid #fff;
                    border-radius: 100%;
                    display: block;
                    position: absolute;
                    opacity: 0;
                    transition: .25s all ease;
                }
                &.is--prev {
                    &::after {
                        left: -5px;
                        top: 50%;
                        margin-top: -24px;
                    }
                }
                &.is--next {
                    &::after {
                        right: -5px;
                        top: 50%;
                        margin-top: -24px;
                    }
                }
                &:hover {
                    opacity: 1;
                    &::after {
                        opacity: 1;
                    }
                }
            }
        }
    }
    &__slides {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        &__inner {
            height: 100%;
            transition: .10s all ease;
        }
        &__slide {
            height: 100vh !important;
            background-size: cover;
            background-position: bottom right;
            background-repeat: no-repeat;
            transition: .25s all ease;
        }
    }
}

@media (max-width: 1200px) {
    .banner {
        &__inner {
            &::after {
                width: 450px;
            }
        }
        &__title {
            font-size: 52px;
            padding-top: 17vh;
        }
        &__address {
            margin-bottom: 40px;
        }
        &__nav {
            &__left {
                margin-right: 60px;
            }
        }
    }
}

@media (max-width: 768px) {
    .banner {
        &__inner {
            &::after {
                width: 45vw;
            }
        }
        &__title {
            font-size: 26px;
            margin-bottom: 25px;
            padding-top: 150px;
        }
        &__address {
            font-size: 16px;
            margin-bottom: 30px;
        }
        &__nav {
            &__right {
                display: none;
            }
        }
    }
}