.portfolio {
    background: #F3F3F3;
    overflow: hidden;
    &.is--all {
        .portfolio {
            &__main {
                margin-bottom: 0;
            }
        }
    }
    &__top {
        display: flex;
        align-items: flex-end;
        margin-bottom: 55px;
    }
    &__btn {
        text-align: center;
        padding-top: 20px;
    }
    &__menu {
        margin-left: auto;
        display: flex;
        align-items: center;
        &__tabs {
            ul {
                display: flex;
                li {
                    padding: 0 15px;
                    a {
                        color: $dark-text-color;
                        font-weight: 300;
                        font-size: 14px;
                        text-transform: uppercase;
                        &.is--active {
                            font-weight: 800;
                        }
                    }
                }
            }
        }
        &__all {
            margin-left: 50px;
            a {
                color: $dark-text-color;
                font-weight: 300;
                font-size: 13px;
                text-transform: uppercase;
            }
        }
    }
    .heading {
        margin-bottom: 0;
    }
    &__main {
        margin: 0 -15px;
    }
    &__row {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
        &.is--right {
            flex-flow: wrap;
            .portfolio__column:first-child {
                order: 1;
            }
        }
        &.is--c3{
            .portfolio__column {
                max-width: 50%;
                width: 100%;
                .portfolio__block {
                    height: 770px;
                }
            }
        }
        &.is--c2{
            .portfolio__column {
                max-width: 50%;
                width: 100%;
                .portfolio__block {
                    height: 770px;
                }
            }
        }
        &.is--c1{
            .portfolio__column {
                max-width: 100%;
                width: 100%;
                .portfolio__block {
                    height: 770px;
                }
            }
        }
    }
    &__column {
        &.is--r2 {
            .portfolio__block {
                height: 50% !important;
                &:first-child {
                    padding-bottom: 15px;
                }
                &:last-child {
                    padding-top: 15px;
                }
            }
        }
    }
    &__block {
        padding: 0 15px;
        display: flex;
        &__inner {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: flex-end;
            background-size: cover;
            position: relative;
            background-position: center;
            &:hover {
                .portfolio__overlay {
                    width: 85%;
                    height: 85%;
                }
                .portfolio__text {
                    opacity: 1;
                }
            }
        }
    }
    &__overlay {
        width: 0;
        height: 0;
        background: rgba(#fff, .5);
        position: absolute;
        bottom: 0;
        left: 0;
        transition: .4s all ease;
        z-index: 100;
    }
    &__title {
        font-size: 36px;
        font-weight: 800;
        line-height: 36px;
        color: $dark-text-color;
        margin-bottom: 15px;
        max-width: 320px;
    }
    &__street {
        font-size: 18px;
        line-height: 21px;
        color: $dark-text-color;
        font-weight: 300;
        max-width: 320px;
    }
    &__text {
        position: relative;
        z-index: 200;
        padding: 0 0 60px 100px;
        opacity: 0;
        transition: .25s all ease;
    }
}

@media (max-width: $resp1200) {
    .portfolio {
        &__row {
            &.is--c3 {
                .portfolio {
                    &__column {
                        max-width: 100%;
                        &:first-child {
                            margin-bottom: 30px;
                        }
                    }
                    &__block {
                        height: 500px !important;
                    }
                }
            }
        }
    }
}

@media (max-width: $resp1025) {
    .portfolio {
        &__top {
            flex-wrap: wrap;
            align-items: flex-start;
        }
        &__heading {
            width: 100%;
            margin-bottom: 30px;
        }
        &__menu {
            margin: 0 auto 0 0;
        }
        &__column {
            max-width: 100% !important;
            margin-bottom: 0 !important;
        }
        &__row {
            margin-bottom: 0 !important;
        }
        &__block {
            margin-bottom: 30px !important;
            min-height: 400px;
            max-height: 400px;
            padding: 0 !important;
        }
        &__main {
            margin: 0;
        }
        &__text {
            opacity: 1;
        }
        &__overlay {
            width: 85%;
            height: 50%;
        }
    }
}

@media (max-width: $resp768) {
    .portfolio {
        &__top {
            margin-bottom: 30px;
        }
        &__menu {
            flex-wrap: wrap;
            ul {
                li {
                    padding: 0;
                    margin-right: 30px;
                }
            }
            &__tabs {
                margin-bottom: 20px;
            }
            &__all {
                margin-left: 0;
                width: 100%;
            }
        }
        &__block {
            max-height: 250px;
            min-height: 250px;
        }
        &__text {
            padding-left: 15px;
            padding-bottom: 15px;
            max-width: 250px;
        }
        &__title {
            font-size: 24px;
            line-height: 24px;
            max-width: 310px;
            margin-bottom: 10px;
        }
    }
}

@media (max-width: 450px) {
    .portfolio {
        &__title {
            font-size: 20px;
            line-height: 20px;
            margin-bottom: 10px;
        }
        &__street {
            font-size: 16px;
        }
    }
}