.container {
    max-width: calc(#{$grid-width} + 60px);
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
}

.page {
    padding-top: 70px;
    padding-bottom: 100px;
}

.slide {
    padding-top: 120px;
    padding-bottom: 100px;
}

.heading {
    margin-bottom: 60px;
    font-weight: 800;
    font-size: 64px;
    text-transform: uppercase;
    line-height: 64px;
    margin-top: 0;
    &.is--left {
        text-align: left;
    }
    &.is--center {
        text-align: center;
    }
}

.breadcrumbs {
    margin-bottom: 25px;
    ul {
        display: flex;
        align-items: center;
        li {
            position: relative;
            &::after {
                content: '...';
                padding: 0 5px;
                color: #747474;
            }
            &:last-child {
                &::after {
                    content: none;
                }
            }
            a,
            span {
                font-weight: 400;
                font-size: 14px;
            }
            a {
                color: #747474;
                transition: .25s all ease;
                &:hover {
                    color: $primary-color;
                }
            }
            span {
                color: #2B2B2B;
            }
        }
    }
}

@media (max-width: $resp768) {
    .heading {
        font-size: 24px;
        margin-bottom: 30px;
        line-height: 24px;
    }
    .page {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .breadcrumbs {
        display: none;
    }
    .slide {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}