.navbar {
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 12000;
    transition: .25s all ease;
    &.is--dark {
        background: $dark-bg-color;
        .navbar {
            &__city {
                &__list {
                    background: $dark-bg-color;
                }
            }
        }
    }
    &__inner {
        height: 100%;
        display: flex;
        align-items: center;
        @extend .container;
    }
    &__logo {
        svg {
            fill: #fff;
        }
    }
    &__menu {
        margin-left: 70px;
        height: 100%;
        ul {
            display: flex;
            height: 100%;
            li {
                height: 100%;
                a {
                    display: block;
                    height: 100%;
                    line-height: 100px;
                    font-weight: 300;
                    font-size: 18px;
                    color: #fff;
                    padding: 0 27px;
                    transition: .25s all ease;
                    &:hover {
                        color: $primary-color;
                    }
                }
                &.is--active {
                    a {
                        color: $primary-color;
                    }
                }
            }
        }
    }
    &__city {
        color: #fff;
        max-width: 160px;
        width: 100%;
        position: relative;
        margin: 0 auto;
        &__label {
            font-weight: 300;
            font-size: 14px;
            border: 1px solid #fff;
            display: flex;
            height: 42px;
            align-items: center;
            cursor: pointer;
            padding: 0 20px;
            position: relative;
            user-select: none;
            &::after {
                content: url(../../img/navbar_city_arrow.svg);
                right: 15px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
            img {
                display: none;
            }
        }
        &__list {
            position: absolute;
            border: 1px solid #fff;
            padding: 7px 0;
            width: 100%;
            left: 0;
            top: 100%;
            margin-top: 10px;
            transition: .25s all ease;
            visibility: hidden;
            opacity: 0;
            ul {
                li {
                    position: relative;
                    a {
                        display: block;
                        width: 100%;
                        padding: 7px 20px;
                        color: #fff;
                        font-weight: 300;
                        font-size: 14px;
                        transition: .25s all ease;
                        &:hover {
                            color: $primary-color;
                        }
                    }
                    &.is--active {
                        &::after {
                            content: url(../../img/navbar_city_check.svg);
                            right: 15px;
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                        a {
                            font-weight: 800;
                        }
                    }
                }
            }
        }
        &.is--open {
            .navbar {
                &__city {
                    &__list {
                        opacity: 1;
                        visibility: visible;
                        margin-top: -1px;
                    }
                }
            }
        }
    }
    &__phone {
        margin-left: auto;
        a {
            font-weight: 800;
            color: #fff;
            font-size: 24px;
            transition: .25s all ease;
            &:hover {
                color: $primary-color;
            }
        }
    }
    &__mbtn {
        margin-left: auto;
        display: none;
        height: 100%;
        align-items: center;
        button {
            padding-left: 0;
            padding-right: 0;
            outline: none;
            span {
                &.hamburger-inner {
                    background-color: #fff !important;
                    &::after,
                    &::before {
                        background-color: #fff !important;
                    }
                }
            }
        }
    }
    &__mobile {
        max-width: 350px;
        width: 100%;
        position: fixed;
        z-index: 11000;
        height: 0;
        overflow: hidden;
        left: 0;
        top: 0;
        background: $dark-bg-color;
        // transform: translateX(-100%);
        transition: 1s all ease;
        display: none;
        visibility: hidden;
        opacity: 0;
        transform: translateY(10%);
        &__menu {
            padding: 30px 0;
            transition: 1s all ease;
            transform: translateY(20%);
            ul {
                li {
                    a {
                        text-align: center;
                        color: #fff;
                        font-size: 18px;
                        display: block;
                        padding: 8px 30px;
                        transition: .25s all ease;
                        &:hover {
                            color: $primary-color;
                        }
                    }
                    &.is--active {
                        a {
                            color: $primary-color;
                        }
                    }
                }
            }
        }
        &__phone,
        &__email {
            transition: 1s all ease;
            transform: translateY(-20%);
            a {
                display: block;
                font-size: 20px;
                font-weight: 600;
                padding: 8px 30px;
                color: #fff;
                text-align: center;
                transition: .25s all ease;
                &:hover {
                    color: $primary-color;
                }
            }
        }
        &__email {
            margin-bottom: 30px;
        }

        &__social {
            margin-bottom: 30px;
            ul {
                display: flex;
                align-items: center;
                justify-content: center;
                li {
                    margin: 0 8px;
                    a {
                        svg {
                            height: 25px;
                            fill: #fff;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1650px) {
    .navbar {
        &__menu {
            margin-left: 15px;
            ul {
                li {
                    a {
                        padding-left: 12px;
                        padding-right: 12px;
                    }
                }
            }
        }
        &__phone {
            a {
                font-size: 18px;
            }
        }
    }
}

@media (max-width: 1440px) {
    .navbar {
        &__menu {
            ul {
                li {
                    a {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1300px) {
    .navbar {
        height: 70px;
        background: $dark-bg-color;
        &__logo {
            svg {
                width: 94px;
                height: 40px;
            }
        }
        &__city {
            margin-left: auto;
            margin-right: 0;
            img {
                display: block;
                max-width: 24px;
                margin: 0 10px 0 auto;
            }
            span {
                display: none;
            }
            &__label {
                padding: 0;
                border: 0;
                text-align: right;
                &::after {
                    content: none;
                }
            }
            &__list {
                white-space: nowrap;
                background: $dark-bg-color;
                ul {
                    li {
                        a {
                            padding-left: 8px;
                            padding-right: 8px;
                        }
                    }
                }
            }
        }
        &__menu,
        &__phone {
            display: none;
        }
        &__mbtn {
            display: flex;
            margin-left: 20px;
        }
        &__mobile {
            display: block;
        }
    }
}