$grid-width: 1620px;

$primary-color: #B38144;
$dark-text-color: #2B2B2B;
$dark-bg-color: #242222;

$resp1920:  1920px;
$resp1400:  1400px;
$resp1200:  1200px;
$resp1025:  1025px;
$resp768:   768px;
$resp320:   320px;